[Unit]
Description=Timer to transmit on the ashining as32

[Timer]
#OnCalendar=*-*-* *:*:00
OnCalendar=*:*:0/10
#OnUnitActiveSec=3s
AccuracySec=1us

[Install]
WantedBy=as32.service
